[submodule "packages/contracts/lib/openzeppelin-contracts"]
    path = packages/contracts/lib/openzeppelin-contracts
    url = git@github.com:OpenZeppelin/openzeppelin-contracts.git
[submodule "/Users/josephroccisano/Documents/Newt/WeAreNewt/RebaseNFTs/packages/contracts/lib/openzeppelin-contracts"]
	path = /Users/josephroccisano/Documents/Newt/WeAreNewt/RebaseNFTs/packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
